/* top 배경이미지 */
.s2-1{background-image: url(../image/sub2-1.png);}

/* 타이틀 */
.sub2-title{
  /* border: 1px solid #000; */
  text-align: right;
  top: 0;
  right: 10px;
  padding: 50px 100px 0 0;
}
.sub2-title h3{
  font-family: 'Freesentation-3LIGHT';
  font-size: 28px;
  color: #333;
}
.sub2-title h3 strong{
  display: block;
  font-size: 42px;
  font-family: 'Freesentation-5MEDIUM';
}

.sub2-1{
  background-image: url(../image/s5.png);
  background-repeat: no-repeat;
  background-position: top;
}

/* 카드 */
.sub2-list{
  /* border: 3px solid red; */
  width: 1300px;
  position: relative;
}

.sub2-card:nth-child(1){justify-content: left;}
.sub2-card:nth-child(2){justify-content: center;}
.sub2-card:nth-child(3){justify-content: right;}

.sub2-card{
  /* border: 1px solid #000; */
  display: flex;
}

.sub2-card-item{
  /* border: 1px solid #18B5FC; */
  background-color: #fff;
  box-shadow: 2px 15px 30px rgb(0,0,0,0.2);
  width: 380px;
  height: 550px;
  overflow: hidden;
  margin: 0 50px 100px 0; 
  position: relative;
  transition: 0.3s;
}
.sub2-card-item img{
  object-fit: cover;
  width: inherit;
}
.sub2-card-item:hover{
  box-shadow: 0 0 2px rgb(0,0,0,0.2);
  scale: 0.95;
}


/* 텍스트 */
.sub2-txt{
  position: absolute;
  bottom: 50px;
  width: 380px;
  height: 200px;
}


.sub2-card-item h4{
  font-size: 36px;
  padding: 30px;
  color: #1365A1;
}
.sub2-card-item p{
  font-family: 'Freesentation-4REGULAR';
  color: #444;
  padding-left: 30px;
  position: absolute;
  bottom: 0;
}


